@import "_fonts";
@import "_vars";
@import "_footer";
@import "_navBar";
@import "_mixins";


h1{
 color: $keyColor;
 margin-top: 1em;
 margin-bottom: 1em; 
 text-align: center;
  }



body{
	background-image: url(../img/hojas.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
